[2020-08-08 02:40] Abhijit2505 opened #1 "Linked List Algorithm Implementations(Easy)"
Here is a list of algorithmic implementations using a linked list,

*  Palindromic Linked List - <img src ="https://img.shields.io/badge/-easy-brightgreen">
* Remove Linked List Elements - <img src ="https://img.shields.io/badge/-easy-brightgreen">
* Intersection Of Two Linked List - <img src ="https://img.shields.io/badge/-easy-brightgreen">
* Linked List Cycle - <img src ="https://img.shields.io

[2020-08-08 05:11] Abhijit2505 opened #2 "Linked List Algorithm Implementations (Intermediate)"
Here is a list of algorithmic implementations using a linked list,

* Design Linked List - <img src ="https://img.shields.io/badge/-intermediate-orange">
* Rotate List - <img src ="https://img.shields.io/badge/-intermediate-orange">
* Insert Into a Sorted Circular Linked List - <img src ="https://img.shields.io/badge/-intermediate-orange">
* Add Two Numbers - <img src ="https://img.shields.io/badg

[2020-08-08 05:20] Abhijit2505 opened #3 "Linked List Algorithm Implementations (Hard)"
Here is a list of algorithmic implementations using a linked list,
* Reverse Nodes in k-Group - <img src ="https://img.shields.io/badge/-hard-red">
* Merge k Sorted Lists - <img src ="https://img.shields.io/badge/-hard-red">

The addition of code for these implementations is ongoing.

[2020-08-11 16:49] Abhijit2505 commented on #1
Added Code for all the Implementations except **Delete M nodes after N nodes in a Linked List**

[2020-08-11 16:49] #1 closed, assigned to Abhijit2505

[2020-09-10 07:55] Devansu-Yadav commented on #2
Hi there! I found this Project on FOSS United Foundation's FOSS HACK 2020 event website. I have the read the Documentation and I wanted to contribute to the Sorting Algorithms and its Visualization as mentioned on the Documentation under the section saying "Algorithms Yet to Publish".

[2020-10-04 06:38] Abhijit2505 opened #4 "Algorithms Addition"
Cheers !! PyCon Devsprint is here 🎉🎉

You may add any of your favourite algorithms to our modules.

Just comment the name of the algorithms below in this issue and I will be assigning you the same.
**Join the discuss here - [eduAlgo Zulip](https://pyconindia.zulipchat.com/#narrow/stream/257423-2020.2Fdevsprint/topic/eduAlgo)**

### Assigned Issues

* Delete nth node from the end in a Linked List -

[2020-10-04 06:49] Abhaskar1 commented on #4
Hello, I would like to work on "Delete nth Node from end in a linked list"

[2020-10-04 06:51] Abhijit2505 commented on #4
@Abhaskar1 you may get started with that, also don't forget to add a hint method for the same. I am assigning you the issue.

[2020-10-04 07:41] 24apurv commented on #4
Hey can I add implementation of insertion sort?

[2020-10-04 07:43] Abhijit2505 commented on #4
@24apurv yes, you may proceed with that. Don't forget to add the hint method as well.

[2020-10-04 07:47] Abhijit2505 commented on #4
@all-contributors please add @Abhaskar1 for code

[2020-10-04 08:44] Abhijit2505 commented on #4
@all-contributors please add @24apurv for code

[2020-10-04 08:46] KanakKvdi commented on #4
Greetings! I'd love to add Binary Search algorithm based on Divide and Conquer methodology.
May I?

[2020-10-04 08:49] Abhijit2505 commented on #4
@KanakKvdi you may continue with this issue.

[2020-10-04 08:52] KanakKvdi commented on #4
@Abhijit2505 Thank you!

[2020-10-04 10:40] KanakKvdi commented on #4
@Abhijit2505 Just made a pull request.

[2020-10-04 10:41] Abhijit2505 commented on #4
@all-contributors please add @KanakKvdi  for code

[2020-10-04 10:42] KanakKvdi commented on #4
Yayyy!!!

[2020-10-04 10:44] gnurenga opened #14 "Create a Stack"
Stack is an abstract data type

- User can insert object in to a stack
-  Remove the recent added element from the stack
- Check is the stack is empty
- Calculate the length of the stack

[2020-10-04 10:49] gnurenga opened #15 "Create a queue"
- Add element to a queue
- Remove element from a queue
- Check queue is empty
- find the length of queue
- get the first added element in the queue using a function

[2020-10-04 10:57] gopalngk commented on #15
I will start looking to implement queue data structure with the mentioned options

[2020-10-04 10:58] gnurenga commented on #14
@Abhijit2505 Can you assign this task I will work on this

[2020-10-04 11:07] Abhijit2505 commented on #14
@gnurenga you may get started with the issue, don't forget to add the hint methods as well.

[2020-10-04 11:08] Abhijit2505 commented on #15
@gopalngk You may start with the issue, don't forget to add the hint methods as well.

[2020-10-04 15:07] gnurenga commented on #14
@Abhijit2505 The Stack concept comes under data structures we cannot call exactly an algorithm. It is actually called Abstract Data Type[1]. I hope it doesn't matter for this project. Just want to ensure that.

[1].. https://en.wikipedia.org/wiki/Stack_(abstract_data_type)

[2020-10-04 16:01] Abhijit2505 commented on #14
yes no issues, I know about stack and you can still contribute.

[2020-10-05 11:22] nihilistdbanana commented on #4
Hi can I add merge and shell sort?

[2020-10-05 11:29] Abhijit2505 commented on #4
Yes you may get started with the issue.

[2020-10-05 11:30] gnurenga commented on #14
@Abhijit2505 I have sent a pull request #18

[2020-10-05 11:38] Abhijit2505 commented on #14
@all-contributors please add @gnurenga  for code

[2020-10-05 12:12] gnurenga opened #21 "Doc string in is_empty has issue in stack.py"
* is_empty will return true if `data` is empty
* I have to change the doc string from  `Returns boolean False if data is empty or True` to  `Returns boolean False if the data is not empty else True`

[2020-10-05 12:13] gnurenga commented on #21
I sent a pull request #20 to fix this documentation issue.

[2020-10-05 13:37] gopalngk commented on #15
@Abhijit2505  I have added the Queue data structure in pull request #22

[2020-10-06 05:29] Abhijit2505 commented on #4
@all-contributors please add @nihilistdbanana  for code

[2020-10-06 06:52] nyctophiliacme opened #27 "Add Quicksort algorithm"
Add the sorting algorithm: Quicksort.

[2020-10-06 07:00] Abhijit2505 commented on #27
@nyctophiliacme, you may get started with the issue.

[2020-10-07 03:09] #4 closed, assigned to nobody

[2020-10-07 03:09] #14 closed, assigned to gnurenga

[2020-10-07 03:10] #15 closed, assigned to gopalngk

[2020-10-07 03:10] #21 closed, assigned to nobody

[2020-10-07 03:11] #2 closed, assigned to Abhijit2505

[2020-10-07 03:11] #3 closed, assigned to Abhijit2505

[2020-10-07 11:00] ShraddhaDevaiya opened #33 "Add Selectionsort algorithm"
Hello , I want to contribute to add sorting algorithm Selectionsort.

[2020-10-07 13:36] Abhijit2505 commented on #33
@ShraddhaDevaiya I think Selection Sort algorithm is already available. Please have a check.

[2020-10-07 13:40] ShraddhaDevaiya commented on #33
Sorry ,yeah  it is available. can you suggest any other one if possible?

[2020-10-07 13:40] #33 closed, assigned to nobody

[2020-10-08 04:39] Abhijit2505 opened #35 "Binary Tree Print Methods Addition"
Three binary tree traversal methods have been added,
* Inorder Traversal
* Preorder Traversal
* Postorder Traversal

Added by @yash872

[2020-10-08 04:40] #35 closed, assigned to nobody

[2020-10-08 04:41] Abhijit2505 commented on #33
@ShraddhaDevaiya , you may run through the entire codebase once, in order to learn which algorithms can be added.

[2020-10-17 13:44] yash872 opened #37 "Adding new methods to Binary Tree"
**Need to add additional methods**

1. KthLevel -> This method is for print elements present on the Kth level from the top root.
2. CountNode -> This method is for counting the total elements present in the Tree.

[2020-10-17 14:04] #37 closed, assigned to nobody

[2020-10-18 09:26] Abhijit2505 commented on #27
@all-contributors add @nyctophiliacme for code

[2020-10-18 09:27] #27 closed, assigned to nyctophiliacme

[2020-10-19 06:28] yash872 opened #40 "Need to Add Heap Sort in algorithms/Sort.py"
**Need to Add Heap Sort Algorithm**
Heap Sort Algorithm with explanation and visualization

[2020-11-06 01:02] #40 closed, assigned to nobody

[2020-11-21 09:29] Abhijit2505 opened #43 "(PYL-E0602) Undefined name detected"
## Description
The variable name is not defined where it is used.

## Occurrences
There are 6 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Abhijit2505/eduAlgo/issue/PYL-E0602/occurrences/](https://deepsource.io/gh/Abhijit2505/eduAlgo/issue/PYL-E0602/occurrences/)

[2020-11-22 12:21] HarshCasper opened #44 "Potential Suggestions"
## Description

Hi @Abhijit2505

I'm in total love with your Project, especially since I got to use your Package for a personal Project. That's a great work put up by you and the Team at EduAlgo.

I would like to highlight few issues in the Project Code right now:

- You can stop tracking your VS Code Configuration by removing `.vscode`
- You can remove the Project Build `build/lib/edualgo` from t

[2020-11-22 12:57] Abhijit2505 commented on #44
@HarshCasper, thank you for the suggestion.
We will change the project structure into a simpler one, rather than uploading the direct package structure.

Thanks again 😀

[2020-11-22 13:01] Abhijit2505 commented on #44
One more thing, we would like to know more about how eduAlgo has been a help in your personal project. We would really like to hear from you regarding the package use at our email - <a href="mailto:founder.edualgo@gmail.com">founder mail</a>.

Thank you so much for taking the time and reaching out to us with the suggestions.

[2020-11-24 09:39] #43 closed, assigned to nobody

[2020-11-26 08:51] Abhijit2505 opened #49 "Adding Contributors [Don't close]"
This issue is for adding contributors to the python package readme

[2020-11-26 08:53] Abhijit2505 commented on #49
@all-contributors please add @pragatipal for coding

[2020-11-26 08:55] Abhijit2505 commented on #49
@all-contributors please add @charlie219  for coding

[2020-11-26 08:59] Abhijit2505 commented on #44
@all-contributors please add @HarshCasper for coding

[2020-11-26 08:59] #44 closed, assigned to nobody

[2020-11-27 01:51] Abhijit2505 opened #53 "Add Dijkstra algorithms"
The python package currently doesn't cover Dijkstra Algorithm

- Dijkstra Algorithm - @Siddhant-K-code

[2020-11-27 01:54] Abhijit2505 opened #54 "Create Manual Testing Modules"
**Testing** is a very important phase for any software package. Although there are awesome libraries like **pytest** etc available in python for testing, still we like to prefer maintaining our own testing module.

Your task is to come up with the testing module for all the methods described in the package.

[2020-11-27 01:55] Abhijit2505 opened #55 "Bug spotting"
No software package can be free of bugs practically, we would like you to point out the bugs you see in the package and create an issue first describing the bug.

You can also point the bugs out as a reply to this issue.

[2020-11-27 02:00] Abhijit2505 opened #56 "Add Backtracking Algorithms"
These are the popular algorithms, that use backtracking. Your task is to design the code for these algorithms inside the package.

- Print all permutations of a given string(@Prakhar-Mangal)
- The Knight’s tour problem (@Priyaa-Agrawal)
- Rat in a Maze (@charlie219)
- N Queen Problem (@charlie219 )
- Subset Sum (@vedantgoswami)
- m Coloring Problem(@Prakhar-Mangal)
- Hamiltonian Cycle
- Sudoku (@v

[2020-11-27 03:34] Siddhant-K-code commented on #56
Can I contribute with `N Queen Problem` in Python?

[2020-11-27 03:42] Siddhant-K-code commented on #53
Can i do this for `Dijkstra` ?

[2020-11-27 05:15] Abhijit2505 commented on #53
You can add **Dijkstra algorithm in python**, don't forget to go through our codebase, Also don't forget to add the `hint` method as well.

[2020-11-27 05:16] Abhijit2505 commented on #56
Sorry, one issue has already been assigned to you.

[2020-11-27 05:33] Abhijit2505 commented on #49
@all-contributors please add @Monisha-23  for coding

[2020-11-27 05:39] Siddhant-K-code commented on #53
What do you mean by "hint" ?

[2020-11-27 05:42] Abhijit2505 commented on #53
Before contributing to any opensource-project, go through the code files and the project tree structure. Watch the demo videos that are provided.

In the demo video, you can see the hint method in action.

also, explore the project files, most of them contain a `hint` method as well.

[2020-11-27 06:03] Abhijit2505 commented on #49
@all-contributors please add @Monisha-23 for coding

[2020-11-27 06:07] vedantgoswami commented on #56
I can do all these algorithms
Can I contribute?

[2020-11-27 06:10] Abhijit2505 commented on #56
You can choose only one algorithm at a time, not all, choose one and you will be assigned

[2020-11-27 06:11] vedantgoswami commented on #56
I can do SUDOKU

[2020-11-27 06:17] Abhijit2505 commented on #56
you can get started with **Sudoku**, check the code tree for getting a folder named **backtracking_algorithms**, add your code there as per the other folder structures. Don't forget to add the `hint` methods as well.

[2020-11-27 06:33] Abhijit2505 commented on #49
@all-contributors please add @Monisha-23 for coding

[2020-11-27 06:35] Abhijit2505 commented on #49
@all-contributors please add @Monisha-23 for coding

[2020-11-27 06:54] charlie219 commented on #56
@Abhijit2505 I want to do N Queen Problem, kindly assign me that task

[2020-11-27 06:56] Abhijit2505 commented on #56
You can get started with the N Queen Problem.

[2020-11-27 08:13] vedantgoswami commented on #56
I want to contact to mentor . How I can?

On Fri, Nov 27, 2020, 12:27 PM Akash Kumar Bhagat <notifications@github.com>
wrote:

[2020-11-27 08:26] Abhijit2505 commented on #56
I am the only mentor here and currently, our organization don't accept mentors from contributors.

If you personally want to contact the founder you can mail here - founder.edualgo@gmail.com

[2020-11-27 08:49] Siddhant-K-code commented on #53
please check #60

[2020-11-27 09:49] Abhijit2505 commented on #49
@all-contributors please add @vedantgoswami for coding

[2020-11-27 09:51] vedantgoswami commented on #56
can i do
Subset Sum

[2020-11-27 09:54] Abhijit2505 commented on #56
Yes, please get started with Subset Sum.

[2020-11-28 05:07] Prakhar-Mangal commented on #55
Some Bugs in Linear Search and Interpolation Search:

1. In Linear Search If we find our searched elements then we need to break the loop, no further traversing required, same with Interpolation Search.
2. In Interpolation search the condition is wrong `while low <= high and array[low] <= array[high]` it should be `while low <= high and x >= array[low] and x <= array[high]:`

[2020-11-28 05:18] Prakhar-Mangal commented on #56
Can I contribute with **Print all permutations of a given string**?

[2020-11-28 06:17] Abhijit2505 commented on #56
Yes you can get started.

[2020-11-28 06:19] Abhijit2505 commented on #55
Your reported bugs have been forwarded to the concerned team. Thanks for reporting.

[2020-11-28 06:20] Abhijit2505 commented on #55
@pragatipal, kindly solve this bug.

[2020-11-28 06:57] charlie219 commented on #56
@Abhijit2505 can you assign me Rat in the Maze task

[2020-11-28 09:54] pragatipal commented on #55
Okay I'd fix it

On Sat, 28 Nov 2020, 11:50 Abhijit Tripathy, <notifications@github.com>
wrote:

[2020-11-30 11:28] Priyaa-Agrawal commented on #56
Can I contribute with **The Knight’s tour problem**?

[2020-11-30 12:23] Abhijit2505 commented on #56
Yes you can contribute to it.

[2020-11-30 12:23] Abhijit2505 commented on #56
Get started with the task

[2020-12-02 08:56] Prakhar-Mangal commented on #56
Can I contribute with `m Coloring Problem`?

[2020-12-03 03:03] Abhijit2505 commented on #56
You may get started

[2020-12-03 03:07] Abhijit2505 commented on #49
@all-contributors please add @Abhijit2505 for coding

[2020-12-03 03:08] Abhijit2505 commented on #49
@all-contributors please add @yash872  for coding

[2020-12-03 03:11] Abhijit2505 commented on #49
@all-contributors please add @yash872 for coding

[2020-12-05 13:05] #49 closed, assigned to nobody

[2020-12-05 14:50] sunanda690 commented on #53
Hello, Can I do MST(prim's and Kruskal)?

[2020-12-07 02:48] Abhijit2505 commented on #53
@sunanda690 would you mind telling me are you a regular contributor or being a part of us through any Winter Of Code program ?

[2020-12-07 07:23] subhangi2731 commented on #54
can you assign this issue to me @Abhijit2505

[2020-12-07 08:39] Abhijit2505 commented on #54
@subhangi2731 first of all, let me know if you are from any winter of code program? Or a regular contributor?

[2020-12-07 08:41] Abhijit2505 commented on #54
also please send a mail to me at founder.edualgo@gmail.com regarding your approach for this issue, after that, we can discuss on how to add the module.

[2020-12-14 04:52] hr1shu opened #83 "Want to add few algos"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-15 19:05] Priyaa-Agrawal commented on #55
In line no. 448 of _sort.py_.  **return** statement is missing in _quick sort_.

[2020-12-18 11:33] skrstv123 opened #85 "missing maths algorithms"
your repository lacks maths algorithms.

[2020-12-19 09:30] virti313 commented on #56
can i try solving cryptarithmetic puzzles?

[2020-12-21 02:34] #85 closed, assigned to nobody

[2020-12-21 02:34] #83 closed, assigned to nobody

[2020-12-21 02:35] Abhijit2505 commented on #56
@virti313 you can get started with the issue

[2020-12-21 03:59] virti313 commented on #56
you closed it and reopened so should i continue or not? @Abhijit2505

[2020-12-21 04:32] Abhijit2505 commented on #56
Continue with it, no issues.

Abhijit Tripathy

On Mon, 21 Dec, 2020, 9:29 AM virti313, <notifications@github.com> wrote:

[2020-12-21 05:41] Prakhar-Mangal opened #88 "Add Dynamic Programming Problem"
There are various popular Dynamic Programming Problems and I'm starting with:

-  Kadane’s Algorithm

[2020-12-24 10:03] #56 closed, assigned to Prakhar-Mangal

[2020-12-26 14:41] khushibalyan220101 commented on #88
I wanna contribute to this. Please assign it to me.

[2020-12-26 16:37] Prakhar-Mangal commented on #88
It's already taken by me.

[2020-12-26 16:53] khushibalyan220101 opened #90 "Add Hamiltonian Cycle in backtracking"
I am starting with Hamiltonian cycle:
Hamiltonian cycle is a Hamiltonian Path such that there is an edge (in the graph) from the last vertex to the first vertex of the Hamiltonian Path. Determine whether a given graph contains Hamiltonian Cycle or not. If it contains, then prints the path.

For example:
 Hamiltonian Cycle in the following graph is {0, 1, 2, 4, 3, 0}
(0)--(1)--(2)
 |    /  \     |

[2020-12-28 13:00] 0xamitdutta commented on #88
Shouldn't you wait for the Project Admin to assign it first. Additionally, Dynamic Programming is a very vast topic. I'm pretty sure more than one person can contribute towards it.

[2020-12-29 14:00] Abhijit2505 commented on #88
@Amitdutta7 he is actually a part of the eduAlgo team as well as a contributor for another opensource program. We had a firm discussion before assigning this to him. Hope it clears your doubt.

[2020-12-29 14:00] #88 closed, assigned to nobody

[2020-12-30 10:09] AdityaArunSharma commented on #53
@Abhijit2505  The graph that will be passed to function should be in the adjacency list form right?

[2020-12-30 12:03] skrstv123 opened #94 "Add travelling salesman problem"
**Is your feature request related to a problem? Please describe.**
travelling salesman problem is missing from graph algorithms.

**Describe the solution you'd like**
will add the DP solution for the travelling salesman problem.
DP solution is slightly efficient than factorial time methods.

[2020-12-30 13:22] amoghatsunil commented on #53
@Abhijit2505  Can i do A* Algorithm?

[2020-12-31 07:27] nitya123-github opened #96 "Adding 5 different searching, sorting algorithms"
Adding 5 different searching, sorting algorithms  in the project such as insertion ,linear search ,binary  search, selection sort, merge sort ,quick sort,heap sort and also adding the worst,best,average complexities of each algorithms

[2020-12-31 07:27] nitya123-github commented on #96
can you please assign this to me @Abhijit2505 ?

[2020-12-31 15:48] Prakhar-Mangal opened #98 "Adding House Robber Problem under Dynamic Programming Problem #WOC"
I'm starting with:

- House Robber Problem

[2021-01-01 17:07] Utkarsh-Agarwal-585 commented on #96
Sir, I'm ready to contribute. Could you please assign it to me....

[2021-01-01 17:27] Prakhar-Mangal opened #100 "Adding Climbing Stairs Problem under Dynamic Programming #WOC"
- Climbing Stairs Problem

[2021-01-02 14:59] Abhijit2505 commented on #96
Did you check the code-base of eduAlgo, These algorithms already exists in our package.

Check our documentation for more info - https://edualgo.github.io/documentation/

[2021-01-02 14:59] #96 closed, assigned to nobody

[2021-01-02 15:01] #100 closed, assigned to nobody

[2021-01-02 15:01] #98 closed, assigned to nobody

[2021-01-02 15:01] #94 closed, assigned to nobody

[2021-01-02 19:06] Prakhar-Mangal opened #102 "Adding Coin Change Problem under Dynamic Programming #WOC"
I'm starting working on
- Coin Change Problem

[2021-01-03 18:10] Prakhar-Mangal opened #104 "Adding Longest Common Subsequence Problem under Dynamic Programming #WOC"
I'm working on
- Longest Common Subsequence

[2021-01-03 19:10] Prakhar-Mangal opened #105 "0/1 Knapsack Problem"
I'm working on
- 0/1 Knapsack Problem

[2021-01-04 18:34] HardevKhandhar opened #108 "Cycle Sort [SWOC]"
I am a participant of SWOC 2021, I would like to contribute by adding the code for Cycle Sort.
Kindly assign this issue to me.
Thank you.

[2021-01-05 04:45] AdityaArunSharma commented on #53
@Abhijit2505 Can I do Bi-Partited graph checking algorithm ? ( SWoC)

[2021-01-05 05:12] fomalhauting opened #109 "Areas [SWOC]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I would like to add areas algorithm.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
We can add areas algorithms

**Describe alternatives you've considered**
A clear and concise description

[2021-01-05 11:42] ayushi-get opened #110 "searching and sorting"
I am a participant of SWOC 2021. I would like to contribute by adding the code for searching and sorting
Kindly assign this issue to me
Thank you

[2021-01-05 14:06] spursbyte opened #111 "Important greedy algorithms addition in the repository(SWOC)"
I wish to contribute some important greedy algorithms like maximizing sum of absolute difference in an array,Water Connection problem,activity selection problem.Kindly assign me the issue.

[2021-01-06 10:10] jatinjain001 commented on #110
I want to contribute in this project .

[2021-01-06 12:36] #102 closed, assigned to nobody

[2021-01-06 12:36] #90 closed, assigned to nobody

[2021-01-06 12:36] #104 closed, assigned to nobody

[2021-01-06 12:36] #105 closed, assigned to nobody

[2021-01-06 12:38] Abhijit2505 commented on #110
Kindly check the code base, these are already present.

Closing the issue

[2021-01-06 12:38] #110 closed, assigned to nobody

[2021-01-06 12:42] Abhijit2505 commented on #108
@HardevKhandhar please get started

[2021-01-06 12:43] Abhijit2505 commented on #109
I couldn't get a concrete Idea of what you want to add.
Closing the issue.

[2021-01-06 12:43] #109 closed, assigned to nobody

[2021-01-06 12:44] Abhijit2505 commented on #111
@spursbyte, please create issues for each problem, don't conserve an entire department of Greedy Algo in your issue.

Closing the issue, please create issues for each algorithms.

[2021-01-06 12:44] #111 closed, assigned to nobody

[2021-01-06 12:45] Abhijit2505 commented on #53
This is not an issue for SWoC. The internal developer team is working on it.

[2021-01-06 13:08] proghead00 opened #112 "A* Pathfinding Algorithm with GUI"
**Is your feature request related to a problem? Please describe.**
It is a feature for additional enhancement

**Describe the solution you'd like**
This is a feature that helps to find the shortest distance between two nodes. It uses pygame, and has keys functionalities that even a layman can use.

**Describe alternatives you've considered**
Alternatives include creating the same without a GUI

[2021-01-06 13:56] spursbyte opened #113 "JOB SEQUENCING PROBLEM IMPLEMENTATION USING GREEDY ALGO IN PYTHON[SWOC21]"
An array of jobs is given  where every job has a deadline and associated profit if the job is finished before the deadline. It is also given that every job takes the single unit of time, so the minimum possible deadline for any job is 1. finding a way to maximize total profit if only one job can be scheduled at a time.

[2021-01-06 18:25] shubhigupta991 opened #115 "Add Binary Search Tree implementation"
Binary Search tree implementation
I will include functions for insertion lookup deletion.
Also i want to include Breadth First Tree and Depth Search Tree algorithms.

[2021-01-06 18:25] shubhigupta991 commented on #115
Please assign me this issue.

[2021-01-06 19:54] AdityaArunSharma opened #116 "Randomized quick sort [SwoC]"
**Is your feature request related to a problem? Please describe.**
Yes, the library does not contain randomized quick sort algorithm

**Describe the solution you'd like**
Will implement a function randomizedQuickSort(arr,hint)

**Describe alternatives you've considered**
nothing as of now

Can I work on this?

[2021-01-07 07:12] HardevKhandhar opened #117 "Booyer Moore Algorithm [SWOC]"
I am a participant of SWOC 2020,
I would like to contribute by adding the code for Boyer Moore under the string algorithms.
Kindly assign this issue to me.
Thank you.

[2021-01-07 17:42] jatinjain001 commented on #115
I want to work on this issue. Please let me know if it is available

[2021-01-09 16:07] shradhaagarwal01 opened #118 "Min Steps to 1 [SWOC]"
Hello sir, I am a participant in SWOC 2021, I would like to contribute by adding the code for Min Steps to 1 In Dynamic Programming.
Kindly assign this issue to me.
Thank you.

[2021-01-10 02:16] #108 closed, assigned to HardevKhandhar

[2021-01-10 02:17] Abhijit2505 commented on #112
Well, no need of PyGame and GUI, just add the A* algorithm.

@proghead00 please get started.

[2021-01-10 02:19] Abhijit2505 commented on #113
@spursbyte although you have pasted a question copied from some website here, you should focus on making the algorithm and the code dynamic.

We have the software and we are not doing programming problems here.

Do get started and add the algorithm only.

[2021-01-10 02:22] Abhijit2505 commented on #115
Well, please check the eduAlgo package documentations, binary tree implementations are already present.

DFS and BFS section will be covered in the graph module.

Closing the issue.

[2021-01-10 02:22] #115 closed, assigned to nobody

[2021-01-10 02:22] Abhijit2505 commented on #116
Well, the quick sort algorithm is already present and we don't want any other enhancement of quicksort in our package.

Closing the issue.

[2021-01-10 02:23] #116 closed, assigned to nobody

[2021-01-10 02:23] Abhijit2505 commented on #117
@HardevKhandhar please get started.

[2021-01-10 02:25] Abhijit2505 commented on #118
See the minimum step to 1 depends on the condition given, we already have a stair case method in our dp module, do you want to add something else ?

[2021-01-10 10:37] smv1999 commented on #55
I have the following code:
[code]

The script is saved as ```edualgo_try.py``` and I try to execute the script in Command Prompt as follows:
[code]
As you can see, I am trying to save the output in a file called ```output.txt```. But, I get an error which is as follows:
[code]

However if I remove the ```True``` parameter in the linear_search() method, I am getting the output saved in the file ```

[2021-01-10 11:03] AdityaArunSharma opened #120 "Some famous algorithms not yet included [SWoC]"
Found some famous algorithms that are not yet included in the library. Please go through it and mention those on which I can work

Dynammic Programming based :-
1. count all possible paths from top left to bottom right in a square matric
2. longest palindromic subsequence
3. number of unique (structurally different) BST with given number of nodes
4. rod cutting problem

Greedy based :-
1. fraction

[2021-01-10 13:00] shradhaagarwal01 commented on #118
Yes, Matrix Chain Multiplication Problem in Dynamic Programming.

[2021-01-10 19:17] Rahul555-droid commented on #120
Hi @Abhijit2505 .

I also noticed that some of the major algorithms in string pattern matching and many others are not yet available here.
I would also want to work on these algorithms for SWOC if available!

Thanks.

[2021-01-14 07:14] #118 closed, assigned to nobody

[2021-01-15 14:41] fomalhauting opened #121 "Fibonacci Numbers [SWoC]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I would like to add Fibonacci Numbers Algorithms

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Fibonacci Number's algorithms

**Describe alternatives you've considered**
A clear and concis

[2021-01-15 14:42] fomalhauting commented on #121
Can I work on this?

[2021-01-15 14:52] Abhijit2505 commented on #55
Hey @smv1999 ,
Thank you for reaching out regarding the bug, which is actually a feature we would like to implement in our future updates.

*True* is passed as a parameter for the console hint methods as that method contains few characters used in the formatting of the console output, those characters need to be encoded into UTF-8 in order to get printed into a text file.

Moreover, the hint metho

[2021-01-16 17:51] japneetkaurbhatia opened #122 "Size of directory [SWoC]"
**Is your feature request related to a problem? Please describe.**
To check the storage of your device, tracking the size and information of all files in directory

**Describe the solution you'd like**
The script displays the size of the current directory in bytes, kilobytes, gigabytes, and megabytes.

**Describe alternatives you've considered**

**Additional context**

[2021-01-16 17:52] japneetkaurbhatia commented on #122
Hey, I want to work on this for SWoC

[2021-01-17 08:44] Abhijit2505 commented on #120
We know there are algorithms which are not included in the package.  Don't open an issue collectively, instead create issues of algorithms one by one.

[2021-01-17 08:44] #120 closed, assigned to nobody

[2021-01-17 08:44] Abhijit2505 commented on #121
@itsIapetus get started

[2021-01-17 08:45] #122 closed, assigned to nobody

[2021-01-17 15:00] Kunal614 opened #123 "I want to contribute in this , can i ?"
Help me to getting things.

[2021-01-19 10:13] xlrnz commented on #121
I've open a pull request for this :) it's very simple and basic but I think it's a good start point! #124

[2021-01-20 11:22] dejokz opened #125 "different versions of QuickSort paritioning (Lomuto partition, Hoare partition)(SWOC)"
**Suggest two differerent parition method **
 The partition method implemented so far is taking the last element as the pivot point i.e Lomuto. Suggest to make two different parition and explain why Hoare performs better.

**How will this impact the quicksort already in the code**
It will not, by default we can make it either one and additionally let the user type the string 'Hoore' as a parameter

[2021-01-23 02:14] #123 closed, assigned to nobody

[2021-01-23 02:15] #117 closed, assigned to HardevKhandhar

[2021-01-23 02:16] Abhijit2505 commented on #125
@dejokz please get started with the issue.

[2021-01-23 02:17] Abhijit2505 commented on #121
I have not assigned you the task, only open a PR, after getting assigned.

[2021-01-23 02:20] Abhijit2505 opened #126 "(PYL-W0127) Variable assigned to itself"
## Description
Variable is being assigned to itself.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Abhijit2505/eduAlgo/issue/PYL-W0127/occurrences/](https://deepsource.io/gh/Abhijit2505/eduAlgo/issue/PYL-W0127/occurrences/)

[2021-01-27 15:56] Abhijit2505 commented on #49
@all-contributors please add @Abhijit2505 for coding

[2021-02-03 05:01] #125 closed, assigned to dejokz

[2021-02-05 18:44] fomalhauting opened #131 "[SWOC] Search Algorithms"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I would like to add:
Binary search algo
Sublinear search algo
Bilinear search algo
Random select algo

**Describe alternatives you've consider

[2021-02-08 08:20] fomalhauting commented on #131
@Abhijit2505  Can I go ahead with these?

[2021-02-08 19:16] fomalhauting commented on #131
@Abhijit2505 could you assign it to me?

[2021-02-10 06:13] fomalhauting opened #133 "[SWOC] Cryptography algorithms"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I would like to add Cryptography Algorithms
Affine Cipher
Burrows-Wheeler Transform
Caesar Cipher
RSA Algorithm
XOR Cipher
Vigenere Cipher

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Cry

[2021-02-10 06:13] fomalhauting commented on #133
@Abhijit2505 Can I work on this? Please assign it to me, thank you.

[2021-02-10 06:45] nitya123-github opened #134 "Time and space complexity of all algorithms"
cheat sheet of time and space complexity of searching, sorting ,linkedlist ,arrays operations

[2021-02-10 06:45] nitya123-github commented on #134
can i work on this @Abhijit2505

[2021-02-11 14:13] Abhijit2505 commented on #131
@itsIapetus, Binary Search Algo is already present, please go through the source code,

Please add only the Sublinear Search algo

[2021-02-11 14:13] Abhijit2505 commented on #133
One issue at a certain time

[2021-02-11 14:14] Abhijit2505 commented on #134
@nitya123-github as I said previously too, please go through the source code and the documentation site.

[2021-02-11 14:14] #134 closed, assigned to nobody

[2021-02-11 14:38] krypticmouse opened #135 "Segment Tree Algorithms Addition"
**Is your feature request related to a problem? Please describe.**
I would like to add Segment Tree Implementation under algorithm folder.

**Describe the solution you'd like**
Implementing Segment Tree with various range based query implementation.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional

[2021-02-11 14:39] krypticmouse commented on #135
@Abhijit2505 Can I work on this issue?

[2021-02-11 15:29] fomalhauting commented on #131
Okay sure, thank you.

[2021-02-12 08:33] Abhijit2505 commented on #135
@krypticmouse , don't forget to add the hint methods as well.

[2021-02-12 08:33] Abhijit2505 commented on #135
Are you participating in Script Winter of code ?

[2021-02-12 10:46] krypticmouse commented on #135
No

[2021-02-12 10:47] krypticmouse commented on #135
Sure will add it too.

[2021-02-13 05:16] Abhijit2505 commented on #135
Please remove the [SWOC] word from the issue

[2021-02-19 05:38] HarshKhilawala commented on #121
@Abhijit2505 Please assign me to this issue !
(Update) Sorry, I didn't notice that PR has already been merged for this issue. Please close this issue

[2021-02-19 05:51] HarshKhilawala opened #141 "[SWOC] Trapping Rainwater"
**Describe the solution you'd like**
Adding Trapping Rainwater Problem (Companies: Facebook, Microsoft , Google, Oracle, Airbnb, LinkedIn) (Difficulty: Hard)

[2021-02-19 05:51] HarshKhilawala commented on #141
@Abhijit2505 Please assign me to work on adding this to Dynamic Programming directory.

[2021-02-20 10:05] HarshKhilawala commented on #141
@Abhijit2505 Please let me know

[2021-02-20 12:33] #135 closed, assigned to nobody

[2021-02-20 12:48] krypticmouse opened #142 "Sieve of Eratosthenes Addition"
**Is your feature request related to a problem? Please describe.**
I would like to add Sieve of Eratosthenes under the algorithm folder.

**Describe the solution you'd like**
Implementing Sieve of Eratosthenes with its application.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any

[2021-02-23 07:11] anirudhsai20 commented on #121
Hi @Abhijit2505 . Can I please work on this under  SWOC?

[2021-02-23 12:49] Abhijit2505 commented on #142
@krypticmouse get started.

[2021-02-23 15:34] fomalhauting commented on #133
@Abhijit2505 Can I work on this now?

[2021-02-26 06:59] Abhijit2505 commented on #141
@HarshKhilawala , eduAlgo is not a problem addition package. Please check the Source code.

[2021-02-26 06:59] #141 closed, assigned to nobody

[2021-02-26 07:03] #142 closed, assigned to krypticmouse

[2021-02-26 10:30] krypticmouse opened #144 "Training and Testing loop wrappers for PyTorch"
**Is your feature request related to a problem? Please describe.**
Loop wrappers for pytorch

**Describe the solution you'd like**
Implementing Loop wrappers for pytorch to enable easy execution of training and testing of model.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any ot

[2021-02-28 13:44] Abhijit2505 commented on #144
This is currently not required for the package.

[2021-02-28 13:44] #144 closed, assigned to nobody

[2021-02-28 13:57] krypticmouse opened #145 "Heap Class Addition"
**Is your feature request related to a problem? Please describe.**
Heap Class Implementation

**Describe the solution you'd like**
Heap Class Implementation with required methods

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature reque

[2021-03-03 03:19] Abhijit2505 commented on #145
@krypticmouse please get started. If possible, use our BinaryTree module where required.

[2021-03-03 03:20] #133 closed, assigned to nobody

[2021-03-03 03:20] #131 closed, assigned to nobody

[2021-03-03 03:21] #121 closed, assigned to nobody

[2021-03-05 02:45] #113 closed, assigned to spursbyte

[2021-03-05 02:46] #112 closed, assigned to proghead00

[2021-03-19 18:37] kiruba-r11 opened #146 "StairCase Search in Row and Column sorted matrix"
**Is your feature request related to a problem? Please describe.**
`Staircase search` is also commonly known as Search in a Row and Column sorted matrix.

**Describe the solution you'd like**
Implement the optimized solution for this problem

[2021-03-19 18:38] kiruba-r11 commented on #146
@Abhijit2505 Can I work on this issue

[2021-03-19 18:43] beekayg15 opened #147 "Quick Sort using Median of Medians Algorithm"
**Is your feature request related to a problem? Please describe.**
`Quick Sort` algorithm is a basic fast-searching algorithm with a time complexity of `O(nlogn)`

**Describe the solution you'd like**
`Quick Sort` is a well known algorithm used to sort an array with a NlogN time complexity. However in the worst case scenario it takes a time complexity of O(n^2) to sort an array of length N(i.e whe

[2021-03-19 18:45] beekayg15 commented on #147
@Abhijit2505 I kindly request you to permit me to work on the issue. Thanks in advance.

[2021-04-05 10:34] Abhijit2505 commented on #146
@kiruba-r11 please get started.

[2021-04-05 10:35] Abhijit2505 commented on #147
Quick sort is already present.

[2021-04-05 10:35] #147 closed, assigned to nobody

[2021-04-13 01:49] Manoj-Paramsetti opened #149 "Hint is missing in Fibonacci Series"
## Description
Adding hint and removing the math module in the Fibonacci series program

## Is your feature request related to a problem? Please describe.
It's somewhat related to a problem. Actually, the hint is missing in the Fibonacci series and the Math module is imported unnecessarily

## Describe the solution you'd like
* I like to add the `hint` message in the Fibonacci series
* Remove Math

[2021-04-13 01:56] Abhijit2505 commented on #149
@Manoj-Paramsetti please get started.

[2021-04-13 01:57] Manoj-Paramsetti commented on #149
Okay

[2021-04-13 02:10] Manoj-Paramsetti opened #150 "__init__ file is empty"
**Is your feature request related to a problem? Please describe.**
\_\_init__.py is empty and doesn't contain print_msg_box()  function in `/edualgo/maths/__init__.py`

**Describe the solution you'd like**
Adding the print_msg_box function in `/edualgo/maths/__init__.py`

**Additional context**
Importing print_msg_box directly from the eduAlgo package is not appreciated

[2021-04-13 07:15] sumitchouhan13 commented on #149
Could you please explain what does adding hint here means ?

[2021-04-13 11:42] QAZIMAAZARSHAD opened #152 "eduAlgo logo not displaying in About Us section"
Logo not displaying in about us section.

![image](https://user-images.githubusercontent.com/56196640/114546686-190b1800-9c7b-11eb-83aa-8595f015a17e.png)

[2021-04-13 11:43] QAZIMAAZARSHAD commented on #152
Assign me this issue and I'll fix it.

[2021-04-13 12:47] Abhijit2505 commented on #150
@Manoj-Paramsetti please get started.

[2021-04-13 12:47] Abhijit2505 commented on #150
@Manoj-Paramsetti please get started.

[2021-04-13 12:48] Abhijit2505 commented on #152
@QAZIMAAZARSHAD this is not the project where the website code is present.

[2021-04-13 12:49] #152 closed, assigned to nobody

[2021-04-13 13:14] Manoj-Paramsetti commented on #150
@Abhijit2505 Completed! check the pull request [#151](https://github.com/edualgo/eduAlgo/pull/151)

[2021-04-13 13:17] Manoj-Paramsetti commented on #149
@Abhijit2505 Completed! check the pull request [#151](https://github.com/edualgo/eduAlgo/pull/151)
I added the pull request related to issue #150 and this issue to reduce the commit numbers

[2021-04-13 16:39] Manoj-Paramsetti opened #153 "[Feature] Circular Singly Linked List"
### Circular Singly Linked List
I like to add circular singly linked list program along with the `hint`

[2021-04-14 13:53] #150 closed, assigned to Manoj-Paramsetti

[2021-04-14 13:53] #149 closed, assigned to Manoj-Paramsetti

[2021-04-15 08:47] Abhijit2505 commented on #153
@Manoj-Paramsetti get started, don't forget to check if the methods already exist inside.

[2021-04-15 14:11] #153 closed, assigned to Manoj-Paramsetti

[2021-05-25 21:21] amulya-0706 opened #155 "Add Tim Sort for Efficient Sorting"
**Is your feature request related to a problem? Please describe.**
I have observed that one of the most efficient sorting algorithm is not included in the code i.e. Tim Sort. using which we can sort the list in less time complexity as well as space complexity. The algorithm is stable as well.

**Describe the solution you'd like**
The idea is based on the fact that insertion sort performs well for

[2021-05-25 21:22] amulya-0706 commented on #155
I would like to request if this issue can be assigned to me.
Thanks!

[2021-05-30 06:15] amulya-0706 commented on #155
@Abhijit2505 Can you assign me this issue?

[2021-06-16 16:04] spartan289 commented on #146
@Abhijit2505 Can i work on this issue

[2021-06-19 01:03] Abhijit2505 commented on #146
@spartan289 Please get started

[2021-06-19 06:16] spartan289 commented on #146
hey @Abhijit2505, I have created the function but where I have to add it and do I indeed explain it.

[2021-09-10 14:04] anonymous372 opened #157 "Add Moore Voting Algorithm"
Well if you are compiling algorithms this is a nice algorithm.
It gives the majority element in an array i.e.,occuring more than n/2 times in the array where is size of array

[2021-09-20 13:30] SauravPattnaikCS60 commented on #157
I want to work on this issue.

[2021-09-24 00:27] #157 closed, assigned to SauravPattnaikCS60

[2021-09-29 03:01] #53 closed, assigned to Siddhant-K-code

[2021-09-29 03:07] Abhijit2505 opened #159 "Pattern Searching::Mismatch Observation - Implement KMP Algorithm"
Wikipedia Says,

Read about the algorithm [here](https://en.wikipedia.org/wiki/Knuth%E2%80%93Morris%E2%80%93Pratt_algorithm).

### Acceptance Condition
- Code is written with proper mentions of edge cases
- Well commented code
- Well documentation(refer to codebase)

[2021-09-29 03:16] Abhijit2505 opened #160 "Plagiarism Detection :: Patten Matching by hashing - Rabin Karp Algorithm"
Wikipedia Says,

Read more about the algorithm [here](https://en.wikipedia.org/wiki/Rabin%E2%80%93Karp_algorithm).

### Acceptance Condition

- Code is written with proper mentions of edge cases
- Well commented code
- Well documentation(refer to codebase)

[2021-09-29 03:17] #146 closed, assigned to spartan289

[2021-09-29 03:17] #155 closed, assigned to nobody

[2021-09-29 03:17] #145 closed, assigned to krypticmouse

[2021-09-29 03:21] Abhijit2505 opened #161 "Shortest Path :: Optimization for Negative Weighted Edges : Johnson's Algorithm(Subroutine)"
The problem is to find the shortest paths between every pair of vertices in a given weighted directed Graph and weights may be negative. We have discussed Floyd Warshall Algorithm for this problem. The time complexity of the Floyd Warshall Algorithm is Θ(V^3). Using Johnson’s algorithm, we can find all pair shortest paths in O(V^2log V + VE) time. Johnson’s algorithm uses both Dijkstra and Bellman

[2021-09-29 03:28] Abhijit2505 opened #163 "(PTC-W0068) Consider using identity comparison with singleton"
## Description
Comparisons to the singleton objects, like `True`, `False`, and `None`, should be done with identity, not equality. Use `is` or `is not`.

## Occurrences
There are 80 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/edualgo/eduAlgo/issue/PTC-W0068/occurrences/](https://deepsource.io/gh/edualgo/eduAlgo/issue/PTC-W0068/occurrence

[2021-09-29 03:29] Abhijit2505 opened #164 "(PYL-W0102) Dangerous default argument"
## Description
Do not use a mutable like `list` or `dictionary` as a default value to an argument. Python’s default arguments are evaluated once when the function is defined. Using a mutable default argument and mutating it will mutate that object for all future calls to the function as well.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource

[2021-10-01 08:23] KhushiChaudhary744 opened #168 "openCV basic operations"
A python module to help commit basic operations like applying filters, resizing, bluring etc using openCV

[2021-10-01 13:36] Abhijit2505 commented on #168
@KhushiChaudhary744 not in this package, you can contribute in Grokking Machine Learning Repo for openCV

[2021-10-01 15:41] KhushiChaudhary744 commented on #168
Okay, thanks!

[2021-10-02 00:54] #168 closed, assigned to nobody

[2021-10-02 03:45] avnish100 commented on #126
Hi the deepsource link doesnt work.

[2021-10-02 05:47] Abhijit2505 commented on #126
@avnish100 sorry about that. I am closing the issue.

[2021-10-02 05:48] #126 closed, assigned to nobody

[2021-10-02 11:58] pawankm21 commented on #163
Would like to work on this issue

[2021-10-02 12:09] pawankm21 commented on #55
Some icons are not visible
[<img src="https://user-images.githubusercontent.com/63885768/135715462-2b4d0bcd-3389-402d-a5e5-d3b96e3f8df0.png" width="150"/>](image.png)

[2021-10-02 19:36] LukasBerka commented on #164
Hi, can you assign me this issue?

[2021-10-03 09:29] Audarya07 commented on #159
Hey @Abhijit2505
I would like to add KMP pattern search algo in python to the `edualgo/algorithms/` directory.
Please assign the issue to me

[2021-10-03 09:31] Abhijit2505 commented on #159
@Audarya07 please get started

[2021-10-03 10:48] Audarya07 commented on #159
Hey @Abhijit2505
I have raised a PR.
Please have a look and let me know if any changes are required from my end

[2021-10-03 15:37] Rutvik2610 commented on #163
Hi, could you assign this issue to me?

[2021-10-04 05:30] Audarya07 commented on #164
Hey @Abhijit2505
Can you assign the issue to me.

I will fix the mutability issue in `edualgo/heaps.py` by replacing `def __init__(self, items=[]):` with either `def __init__(self, items=None):` OR `def __init__(self, items=(None,)):`

[2021-10-04 05:32] Abhijit2505 commented on #164
@Audarya07 sorry, we follow first come first serve.

[2021-10-04 05:34] #163 closed, assigned to nobody

[2021-10-04 05:36] #159 closed, assigned to Audarya07

[2021-10-04 05:37] Abhijit2505 commented on #55
That's another repo, where the website work is present, please contribute to that one.

[2021-10-04 06:59] pawankm21 commented on #160
I would like to work on this issue

[2021-10-04 08:54] hussamEL-Hwary opened #173 "Delete linked list node"
In **linkedlist > list_algorithms>delete_node** method will cause a problem in these cases.

- The node is the tail node `node.next.next` will fail
- The node is `None`
- If the node is the head node then we will lose head after deleting the node

Recommended solution :bulb:
A second parameter should be passed for the previous node to correctly delete the node.

[2021-10-04 09:37] #164 closed, assigned to LukasBerka

[2021-10-04 09:38] Abhijit2505 commented on #160
@pawankm21 please get started.

[2021-10-04 09:39] Abhijit2505 commented on #173
@hussamEL-Hwary please fix it up, it's a valid issue.

[2021-10-04 10:03] pawankm21 commented on #160
yeah, on it.

[2021-10-04 11:47] hussamEL-Hwary commented on #173
Thank you! I will work on it.

[2021-10-04 12:44] VaishnaviNandakumar opened #174 "Add Radix Sort for Sorting"
**Is your feature request related to a problem? Please describe.**
I'd like to contribute to a sorting algorithm.

**Describe the solution you'd like**
Radix Sort - An efficient algorithm when the range of input values are provided with a time complexity of  O(nk).

[2021-10-04 14:28] #173 closed, assigned to hussamEL-Hwary

[2021-10-04 14:30] Abhijit2505 commented on #174
@VaishnaviNandakumar please get started

[2021-10-04 17:38] VaishnaviNandakumar commented on #174
@Abhijit2505 Created PR. Do let me know if there are any suggestions.

[2021-10-05 01:40] #174 closed, assigned to VaishnaviNandakumar

[2021-10-05 12:41] suvanbalu opened #177 "Stack sequence finder"
Can I add stack push and pop sequence for a given list of push and pop ?
As it is a popular question in stack!

[2021-10-06 05:19] Abhijit2505 commented on #177
@suvanbalu please get started.

[2021-10-07 14:01] Abhijit2505 commented on #177
@suvanbalu Please get started, and acknowledge.

[2021-10-07 16:04] suvanbalu commented on #177
Sorry for the delay ! it will be uploaded today

[2021-10-08 06:15] #177 closed, assigned to suvanbalu

[2021-10-29 18:37] VenkatsQuest opened #191 "Comparison to singleton `True` should be `expr is True`"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Consider using identity comparison with singleton

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

32    if (hint == True): should be replaced with if (hint is True):

**Describe alternativ

[2021-10-29 18:48] VenkatsQuest opened #193 "Consider using `mapp.items()` to iterate over the dictionary"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The preferred way to iterate over the key-value pairs of a dictionary is to declare two variables in a for loop, and then call dictionary.items() (or dictionary.iteritems() for Python2), where dictionary is the name of your variable repres

[2021-10-31 07:33] #191 closed, assigned to nobody

[2021-10-31 07:34] Abhijit2505 commented on #193
@VenkatsQuest please get started.

[2021-10-31 17:26] VenkatsQuest commented on #193
@Abhijit2505 its already fixed as part of one of the recent pull request.

[2021-10-31 17:26] #193 closed, assigned to nobody

[2021-11-10 07:40] vacom13 commented on #160
@Abhijit2505 Has this been worked on? If not could I take it up?